/* Employe ng grid table style starts */
.gridStyle
{
	height:250px;
}
.employee .gridStyle
{
	height: auto ;
}
.employee .gridStyle .ngCanvas button.btn
{
	margin-top: 11px;
	margin-left: 7px;
}

.gridStyle .ngViewport {
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer {
    width: auto !important;
}
.employee .gridStyle .ngCanvas img
{
	width: 40px;
	height: 40px;
	margin-left: 30%;
	margin-top: 10px;
	cursor: default !important;
}

/**Grid row selection background**/
.ngRow.selected
{
	background-color:#CED1D4 !important;
}

/**For hiding the vertical line in the grid**/
.ngVerticalBarVisible 
{
	width:0px;
}
.searchContainer
{
	text-align:right;
}
@media (max-width: 767px)
{
	.searchContainer
	{
		text-align:left;
		margin-top:5%;
		margin-bottom: 3%;
	}
}
@media (min-width: 768px)
{
	.timesheets .employeeList
	{
		margin-bottom: 10px;
	}
}
.labelCaption
{
	height: 25px;
	line-height: 25px;
}