<!-- CONTACT POPUP MODAL STARTS  -->
<link href="../Manage/CustomerDetail/ContactPopUp.css" type="text/css" rel="stylesheet"></link>
<div class="modal-header">
    <h3 class="modal-title">Contacts
        <span ng-show="newContact"> > New</span>
        <span ng-hide ="newContact"> > <span ng-bind="contactDetail.data.nickname"></span></span>
    </h3>
    <span class="modal-close" ng-click="cancel()">x</span>
</div>

<div class="modal-body"><!-- CONTACT MODAL BODY STARTS  -->
    <div class="row customerInfo"><!-- PHOTO UPLOAD AND BASIC INFO STARTS -->
        <div class="col-sm-3 col-md-3 col-lg-3 contact-img">
            <input type="file" name="file" class="imageUploader" ng-file-select="onFileSelect($files)" />
            <span ng-hide="imageSrc" ng-if="contactDetail.data.photoUrl != null"><img ng-src="{{contactDetail.data.photoUrl}}" class="img-circle img-responsive" ng-class="{'imgContain':containImg}" ></span>
            <span ng-hide="imageSrc" ng-if="contactDetail.data.photoUrl == null"><img ng-src="img/redPanda50.jpg" class="img-circle img-responsive"></span>
            <span ng-show="imageSrc"><img ng-src="{{imageSrc}}" class="img-circle img-responsive PersonImage"  ng-class="{'imgContain':containImg}"></span>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <form  class="form-horizontal" role="form">            
                <div class="form-group">
                    <input type="text" ng-blur ="validateName()" ng-model ="contactDetail.data.nickname" placeholder="name" class="form-control medium-input"
                    ng-class="{'red': isRequired}"/>
                </div>
                <div class="form-group">
                    <input type="text" ng-model ="contactDetail.data.jobTitle" placeholder="job" class="form-control medium-input" />
                </div>
            </form>
        </div>
        
        <div class="col-sm-5 col-md-5 col-lg-5">
            <form class="form-horizontal" role="form">
                 <div class="controls form-group">
                    <input type="text" ng-model ="contactDetail.data.departmentName"
                           placeholder="department" class="form-control medium-input department" />
                 </div>
                
            </form>
        </div>
       
    </div><!-- PHOTO UPLOAD AND BASIC INFO ENDS -->
    <div class = "row"><!-- CONTACT TABLE STRATS  -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contactPopUp">                       
           <div class="contact-type-table-header">
				<div class="contact-second-column">Type</div>
				<div class="contact-third-column">Info</div>
				<div class="contact-first-column plusButton"><button ng-click="addEmployeeContactInfo();" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button></div>
		   </div>	
			<div class="contact-type-table-body">
				<table class="table table-bordered table-striped contactTableContents">				
					<tr ng-repeat="emp_contact in contactDetail.data.contactNumbers">
						<td class="contact-second-column">

							<select ng-options="contact as contact for contact in contactNumberTypes" 
							         ng-model="contactTypeValue[$index]" class="form-control">
							</select>

						</td>
						<td class="contact-third-column">

							<input type="text" 	ng-model="contactTypeDetails[$index]" ng-change ="isInfoRequired[$index] = false"
								class="form-control" ng-class="{'red': isInfoRequired[$index]}"  id ="info_{{$index}}"/>

						</td>
						<td class="contact-first-column">
							<button ng-click="deleteEmployeeContactInfo($index);" class="btn btn-default btn-sm"><i class="fa fa-times"></i></button></td>
					</tr>					
				</table>
			</div>	
        </div>
    </div><!-- CONTACT TABLE ENDS  -->
    <div class="row"><!-- CONTACT MAP STARTS -->
        <div class="col-sm-5 col-md-5 col-lg-5 contect-address">  
            <input type="text" ng-model="contactDetail.data.addressStreet" placeholder="street" class="form-control">
            <input type="text" ng-model="contactDetail.data.addressCity" placeholder="city/town" class="form-control">
            <input type="text" ng-model="contactDetail.data.addressStateCode"  ng-class="{'red': inValidStateCode}" placeholder="state/province" class="form-control"  typeahead="state as state.name for state in states | filter:$viewValue">              
            <input type="text" ng-model="contactDetail.data.addressPostZip" placeholder="zip" class="form-control small-input">            
            <input type="text" ng-model="contactDetail.data.addressCountryISO"  ng-class="{'red': inValidCountryCode}" placeholder="US" class="form-control"  typeahead="country as country.name for country in countries | filter:$viewValue">
            <button class="btn btn-sm btn-default" ng-click="needMapCall.callMap = true" ng-disabled="(contactDetail.data.addressStreet == '' || contactDetail.data.addressStreet == null)&&(contactDetail.data.addressCity == '' || contactDetail.data.addressCity == null)&&(contactDetail.data.addressStateCode == '' || contactDetail.data.addressStateCode == null)&&(contactDetail.data.addressPostZip == '' || contactDetail.data.addressPostZip == null)&&(contactDetail.data.addressISOCountry == '' || contactDetail.data.addressISOCountry == null)">Update Map</button>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7 contact-map">
             <div data-ng-include="'Components/googleMap/map.html'"></div>
        </div>        
    </div><!-- CONTACT MAP ENDS -->
</div><!-- CONTACT MODAL BODY ENDS  -->

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button class="btn btn-sm btn-primary" ng-click="ok()">Done</button>
</div>
<!-- CONTACT POPUP MODAL ENDS -->
