<!DOCTYPE html>
<html lang="en" ng-app="redPandaapp">
	<head>			
		<meta charset="utf-8">
		<title>redPanda- simply better software</title>			
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- INCLUDING STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="../../Library/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../Library/bootstrap/normalize.css">
		<link rel="stylesheet" type="text/css" href="../../Library/font-awesome-4.1.0/css/font-awesome.min.css">		
		<link rel="stylesheet" type="style/text" href="../../Library/Calendar/fullcalendar.css"></link>
		<link rel="stylesheet" type="style/text" href="../../Library/ng-grid/ng-grid-2.0.7/ng-grid.min.css"></link>
		<link rel="stylesheet" type="text/css" href="../../Library/color_picker/colorpicker.css">
		<link rel="stylesheet" type="text/css" href="../../Library/jQuery/jquery-ui-1.10.3.custom.css">
		<link rel="stylesheet" type="text/css" href="../../Library/jQuery_simple_color_picker/jquery.simplecolorpicker.css">	
		
		<link rel="stylesheet" type="text/css" href="appShell.css">

		<link rel="stylesheet" type="text/css" href="appShell.css">
		<link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />	

		<link rel="stylesheet" type="text/css" href="../../Library/bootstrap/daterangepicker-bs3.css" />
		
		<link rel="shortcut icon" href="img/favicon.png">

	</head>
	<body ng-controller="maincontroller">
		<div id="wrap">
		<div class="container">
			<!-- HEADER -->
			<div class="row header">
				<div class="col-sm-4 col-md-5 col-lg-7">
				   <div class="row">
					<div class="col-sm-2 col-md-1 col-lg-1 col-xs-1"><i class="fa fa-bars navigation-toggle hidden-xs" ng-click="showNav = !showNav; shiftNav = false;"></i></div>
					<div class="col-xs-2 col-sm-2 col-md-3 col-lg-2"><a href="#"><img class="avatar logo" src="img/redPanda50.jpg" alt="redPanda"></a></div>
					<div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 caption">Big Test Co.</div>
					<div class="col-xs-1 visible-xs">	
						 <a ng-click="xscollapse = !xscollapse;shiftNav = false;">
			               <i class="fa fa-bars xsnavigation-toggle"></i>
	           			 </a>
		           	</div>
				   </div>					
				</div>					
				<div class="col-sm-8 col-md-7 col-lg-5 hidden-xs">
				    <div class="row">
				    	<div class="col-sm-2 col-md-2 col-lg-2"></div>
				    	<!-- CALENDAR BLOCK -->					
						<div class="col-sm-2 col-md-2 col-lg-2 dropdown dropdown-toggle">
							<a class="calender-notify">
								<img src="img/calendarIconW.png" alt="calendar"/>
								<span class="number">11</span>
							</a>	
							<!-- VALUES ARE INCLUDED FOR TESTING PURPOSE. LATER IT WILL BE REPLACED BY THE DATA FROM API -->							
							<ul class="dropdown-menu list-unstyled calender-notification">
								<li> 
									<span class="dropdown-title">You have 6 appointments today</span>
								</li>
								<li>
	                                <a>
										<span class="icon blue"><i class="fa fa-users"></i></span>
										<span class="message">Breakfast meeting</span>
										<span class="time">7:45am</span> 
	                                </a>
                            	</li>
                            	<li>
	                                <a>
										<span class="icon green"><i class="fa fa-phone"></i></span>
										<span class="message">Call with Peter Dries</span>
										<span class="time">8:30am</span> 
	                                </a>
                            	</li>
                            	<li class="dropdown-footer">
	                                <a href="appShell.html#/Time">
										View all appointments
	                                </a>
                            	</li>
							</ul>							
						</div>
						<!-- MESSAGE BLOCK -->					
						<div class="col-sm-2 col-md-2 col-lg-2 dropdown dropdown-toggle">
							<a class="message-notify">
								<img src="img/envelopeIconW.png" alt="mail" />
								<span class="number">11</span>
							</a>
							<!-- VALUES ARE INCLUDED FOR TESTING PURPOSE. LATER IT WILL BE REPLACED BY THE DATA FROM API -->	
							<ul class="dropdown-menu list-unstyled message-notification">
								<li><span class="dropdown-title">You have 9 unread messages</span></li>
								<li>
	                                <a>
										<span class="avatar message-avatar">
											<img src="img/sh_photo50.png" class="img-circle" alt="contact">
										</span>
										<span class="message-heading">
											<span class="from">
										    	Simon Hopkins
										     </span>
											<span class="time">
										    	6 min
										    </span>
										</span>
										<span class="message">
	                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
	                                    </span>
	                                </a>
	                            </li>
	                            <li>
	                                <a>
										<span class="avatar message-avatar">
											<img src="img/sh_photo50.png" class="img-circle" alt="contact">
										</span>
										<span class="message-heading">
											<span class="from">
										    	Simon Hopkins
										     </span>
											<span class="time">
										    	6 min
										    </span>
										</span>
										<span class="message">
	                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
	                                    </span>
	                                </a>
	                            </li>
                            	<li class="dropdown-footer">
	                                <a href="#">
										View all messages
	                                </a>
                            	</li>
							</ul>							
						</div>
						<!-- CONTACTS BLOCK -->
						<div class="col-sm-2 col-md-2 col-lg-2 contact-block">
							<a class="contact-notify"><img src="img/contactIconW.png"	alt="contact" /></a>
						</div>
						<!-- USERS BLOCK -->
						<div class="col-sm-4 col-md-4 col-lg-4 dropdown dropdown-toggle">
							<div class="row profile-log">
								<div class="col-sm-7 col-md-7 col-lg-7 profile-name">
									Simon Hopkins
								</div>
								<div class="col-sm-5 col-md-5 col-lg-5 profile-img">
									<img src="img/sh_photo50.png" class="img-circle" alt="contact"/>	
								</div>

							</div>
							<!-- VALUES ARE INCLUDED FOR TESTING PURPOSE. LATER IT WILL BE REPLACED BY THE DATA FROM API -->							
							<ul class="dropdown-menu profile-log-notification list-unstyled">									
								<li>
									<a>
	                                	<span>
											<i class="fa fa-user"></i>
											Profile											
	                                	</span>
	                            	</a>
                            	</li>
                            	<li>
	                            	<a>
		                                <span>
											<i class="fa fa-cogs"></i>
											Settings
		                                </span>
		                            </a>
                            	</li>
                            	<li>
	                            	<a>
		                                <span>
											<i class="fa fa-envelope"></i>
											Messages
		                                </span>
		                            </a>    
                            	</li>	
                            	<li>
	                            	<a>                              
										Logout		
									</a>	                                
                            	</li>	
							</ul>							
						</div>
				    </div>
				</div>				
			</div>
				<!-- CONTENT -->	
				<div class="row">
					<!-- NAVIGATION BLOCK -->
					<div class="col-xs-12 col-sm-1 col-md-2 col-lg-2 navigationblock" ng-class="{'shift':shiftNav,'visible-xs':xscollapse,'hidden-xs':!xscollapse, 'visible-lg visible-md visible-sm':!showNav}" ng-show="!showNav">						
							<ul class="nav alignNav">
								<li><a ng-class="{'selected':(selectedMenu == 'home')}" ng-click="selectedMenu = 'home';xscollapse = false" href="#"><i class="fa fa-home"></i><span class="hidden-sm"> Home</span></a></li>	
								<li>
									<a ng-click="time = !time"><i class="fa fa-clock-o"></i><span class="hidden-sm"> Time</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': (time && !shiftNav) || shiftNav , 'glyphicon-chevron-left': !time && !shiftNav}"></i></a>						
									<ul collapse="!time && !shiftNav" class="nav">
										<li><a ng-class="{'selected':(selectedMenu == 'Timesheets')}" ng-click="selectedMenu = 'Timesheets';xscollapse = false" href="#"><i class="fa fa-clock-o"></i><span class="hidden-sm"> Timesheets</span></a></li>
									</ul>	
								</li>	
														
								<li>
									<a ng-click="manage = !manage"><i class="fa fa-sliders"></i><span class="hidden-sm"> Manage</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': (manage && !shiftNav) || shiftNav, 'glyphicon-chevron-left': !manage && !shiftNav}"></i></a>
									<ul collapse="!manage && !shiftNav" class="nav">
										<li><a  href="appShell.html#/Customer" ng-class="{'selected':(selectedMenu == 'Customer')}" ng-click="selectedMenu = 'Customer';xscollapse = false"><i class="fa fa-users"></i><span class="hidden-sm"> Customers</span></a></li>
										<li><a  href="appShell.html#/Employee" ng-class="{'selected':(selectedMenu == 'Employee')}" ng-click="selectedMenu = 'Employee';xscollapse = false"><i class="fa fa-user"></i><span class="hidden-sm"> Employees</span></a></li>
										<li><a  href="appShell.html#/Contract" ng-class="{'selected':(selectedMenu == 'Contract')}" ng-click="selectedMenu = 'Contract';xscollapse = false"><i class="fa fa-list-alt"></i><span class="hidden-sm"> Contracts</span></a></li>																		
										<li><a  href="#" ng-class="{'selected':(selectedMenu == 'TimesheetAdmin')}" ng-click="selectedMenu = 'TimesheetAdmin'; xscollapse = false"><i class="fa fa-clock-o"></i><span class="hidden-sm"> Timesheet Admin</span></a></li>
										<li><a ng-click="reporting = !reporting"  class="subContent"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm"> Reporting</span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': reporting, 'glyphicon-chevron-left': !reporting}"></i></a>
											<ul collapse="!reporting" class="nav">
												<li><a href="#" ng-class="{'selected':(selectedMenu == 'ItemData')}" ng-click="selectedMenu = 'ItemData';xscollapse = false"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm"> Item Data</span></a></li>
												<li><a href="#" ng-class="{'selected':(selectedMenu == 'DashBoard')}" ng-click="selectedMenu = 'DashBoard';xscollapse = false"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm"> Dashboard</span></a></li>
											</ul>
									</li></ul>	
								</li>
								<li>
									<a  ng-click="admin = !admin"><i class="fa fa-pencil-square-o"></i><span class="hidden-sm"> Admin</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': (admin && !shiftNav) || shiftNav ,'glyphicon-chevron-left': !admin && !shiftNav}"></i></a>
									<ul collapse="!admin && !shiftNav" class="nav">
										<li><a  href="#" ng-class="{'selected':(selectedMenu == 'SetUp')}" ng-click="selectedMenu = 'SetUp';xscollapse = false"><i class="fa fa-edit"></i><span class="hidden-sm"> Set Up</span></a></li>
										<li><a  href="#" ng-class="{'selected':(selectedMenu == 'UserAdmin')}" ng-click="selectedMenu = 'UserAdmin';xscollapse = false"><i class="fa fa-users"></i><span class="hidden-sm"> User Admin</span></a></li>
										<li><a  href="#" ng-class="{'selected':(selectedMenu == 'Interface')}" ng-click="selectedMenu = 'Interface';xscollapse = false"><i class="fa fa-exchange"></i><span class="hidden-sm"> Interface</span></a></li>
									</ul>
								</li>															
							</ul>
							<span class="hidden-xs hidden-sm arrowspan" ng-click="xscollapse=false;"><i ng-class="{'fa fa-angle-double-left':!shiftNav,'fa fa-angle-double-right':shiftNav}" ng-click="shiftNav = !shiftNav"></i></span>
													
					</div>
					<!-- CONTENT AREA -->
					<div class="content"  ng-class="{'col-xs-12 col-sm-12 col-md-12 col-lg-12':showNav,'col-xs-12 col-sm-11 col-md-10 col-lg-10':!showNav, 'contwidthInc':shiftNav}" >
						<div ng-view></div>
					</div>
				</div>
			</div>
		</div>


			<div id="push"></div>
			<div id="footer" class="row footer">
				<div class="container">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<span>© redPanda</span>				
					</div>
					<div class="col-sm-10 col-md-10 col-lg-10 text-right">
						<span class="hidden-xs">redPanda - timesheets without keyboards</span>					
					</div>	
				</div>	
			</div>										
		
				<!-- INCLUDING SCRIPTS -->
		<script type="text/javascript" src="../../Library/jQuery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../Library/jQuery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../Library/jQuery/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="../../Library/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="../../Library/angularjs/angular-route.min.js"></script>
		<script type="text/javascript" src="../../Library/angularjs/angular-cookies.min.js"></script>
		<script type="text/javascript" src="../../Library/jQuery/jquery-ui.custom.min.js"></script>
		<script type="text/javascript" src="../../Library/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>		
		<script type="text/javascript" src="../../Library/Calendar/fullcalendar.min.js"></script>
		<script type="text/javascript" src="../../Library/Calendar/calendar.js"></script>
		<script type="text/javascript" src="../../Library/ng-grid/ng-grid-2.0.7/ng-grid.min.js"></script>		
		<script type="text/javascript" src="../../Library/color_picker/bootstrap-colorpicker-module.js"></script>
		<script type="text/javascript" src="appShell.js"></script>	
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBF8c_gj70TqziWlHw3QjQpTqgJQquHZU"></script>
		<script src='../../Library/google_maps/lodash.js'></script>	
		<script src='../../Library/google_maps/angular-google-maps.js'></script>
		<script src='../../Library/jQuery_simple_color_picker/jquery.simplecolorpicker.js'></script>
		
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/> -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>       
  		<script src='../../Library/FileSaver/FileSaver.js'></script>
  		<script type="text/javascript" src="../../Library/angularjs/upload.js"></script>
  		<script src='Components/downloadXls/downloadXls.js'></script>


		<script src="Components/googleMap/map.js" type="text/javascript"></script>
		<script src='Components/ngGridTable/table.js'></script>
		
		<script type="text/javascript" src="../../Library/bootstrap/moment.js"></script>
		<script type="text/javascript" src="../../Library/bootstrap/daterangepicker.js"></script>
		
  	</body>
</html>
