<div ng-controller="ResetPasswordController">
	<div class="container-fluid resetPassword login-style">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
					<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()"><span ng-bind="alert.message"></span></alert>
					<div class="registrationHeading">
						<!--<p class="logo-container"><span class="logo"></span> </p>
						<p>Lost Your Password? Don't Panic!</p>
						<p class="reg-now">Recover it Now.</p>-->
					</div>

					<div class="login-container">
						<div class="register-header"> RESET PASSWORD </div>
						<div class="register-body">
							<form novalidate class="form-horizontal" role="form">
								<div class="form-group reset-info">
									<p>Can't login or have forgotten your password?</p>
									<p>No problem!</p>
									<p>We can send you instructions for setting up a new one.</p>
								</div>
								<div class="form-group existing-account">
									<span class="username-label"> please enter your email </span>
									<span class="line"></span>
								</div>
								<div class="form-group login-text">
									<input ng-model ="userEmail" placeholder="E-mail" type="email"  class="form-control" />
									<i class="fa fa-user"></i>
								</div>

								<div class="form-group">
									<button type="submit" class="create-account" ng-click = "resetPassword()">Reset My Password</button>	
									
								</div>
								<div class="form-group">
									<span class="forget-pw" ng-click="login()">Login</span>
									<span class="login pull-right" ng-click="signUp()">Sign Up</span>
								</div>

							</form>	
						</div>
					</div>
				</div>
			</div>
	</div>				
</div>
