.employee .ngRow:hover,.ngRow.even:hover,.ngRow.odd:hover
{
	background: #E8F3FD;
}
.employee .selected
{
	background-color:#CED1D4!important;
}
.employee .searchbox
{
	margin-bottom:10px;
}

/*===========Styles for the labels in employee list======= */

.employee .label
{
	font-weight: 300;
	font-size: 10px;
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.employee .label-important{
	background: #ff5454;
}
/*.label-grey
{
	border: none;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	background: #e9ebec;
	color: #7c848d;	
}*/
.employee .label-mid
{
	font-size:15px;
}

/*===============Style for the buttons "New" and "Download" ================*/

.employee .searchbox select
{
	width: 70px;
}

