.employee-img img
{
	width: 115px;
	height: 115px;
	border: 1px solid #DBDEE0;
}
.imgContain
{
	background-size:contain;	
}
.dp
{
	width:30%;
}
.form-group 
{
	margin-bottom: 10px !important;
}

.contact-address-map
{
	padding-left: 25px;
}
.contact-address-map .contact-map
{
	height: 250px;
	padding-left: 5px;
	padding-right: 10px;
}
.contact-address-map .contect-address
{
	height: 255px;
	padding-left: 10px;
	padding-right: 5px;
}
.contact-address-map .boxcontainer-body
{
	border: 1px solid #DBDEE0;
	height: auto !important;
	margin-bottom: 10px;
	margin-right: 0px;
}
.contact-info-type
{
	padding: 0px 10px 0px 0px;
}
.contact-info-type table thead tr td
{
	border-bottom-width:1px !important;
	line-height: 30px;
	font-weight: bold;
}
.contact-info-type table thead tr td:nth-child(3),
.contact-info-type table tbody tr td:nth-child(3)
{
	text-align:center !important;
}
.comments-container .comments .time
{
	color: gray;
}
/*Style for setting the google map's height*/
.angular-google-map-container
{
	min-height:248px;	
	border: 1px solid #6A6B6B;
}

/*Style for the model pop up*/
.DeletePopContent
{
	margin:10%;	
}
.unit-position
{
	margin-left: 6px;
	display: inline-table;
	margin-top: 5px;
}

/*for overtime cost row bottom position*/
.financial .Overtime label, .financial .Overtime .input-group
{
	margin-top: 45px;
}


/* attachments container style */
.emp-attachments-container
{
	min-height: 175px;
	width: 100%;
	border: 1px solid rgb(223, 214, 214);
}
.upload-placeholder
{
	min-height: 100px;
	text-align: center;
	vertical-align: middle;
}
.attachments-title
{
	background: rgb(245, 209, 23);
	padding: 5px;
}
.attachments-buttons
{
	margin-left: 0px !important;
}
.contact-info-type .contact-type-table-body .table>tbody>tr>td.contact-second-column
{
	text-transform: capitalize;
}

/* for timeoff table height*/
.timeoff .ngViewport
{
	min-height: 63px !important;
	height: auto !important;
}

/* Style for override vertical bar in nggrid */
.timeoff .ngVerticalBarVisible 
{
	width: 0px;
}
/* style for time off table back ground color to white*/
.timeoff-grid .ngTopPanel, .timeoff-grid .ngRow
{
	background-color: #fff !important;
}
.timeoff-grid, .timeoff-grid .ngRow
{
	border: 0 !important;
}
.timeoff-grid .ngCell a
{
	text-decoration: underline;
}
.timeoff-grid .ngViewport .colt0 span, .timeoff-grid .ngHeaderText
{
	text-transform: capitalize !important;
}
/* Style for custom selection box*/
.department button
{
	height: 28px;
	line-height: 14px;
}
.department
{
	width:100%;	
}

.contect-address .editable-input .editable-clear-x
{
	margin-top: -12px !important;
}
.popOver
{
	margin-left:4%;	
}

.timeoff-grid label.allowance-text
{
	min-width: 70px !important;
	font-weight: normal !important;
}
.timeoff-grid label.taken-text
{
	min-width: 42px !important;
	font-weight: normal !important;
}
.timeoff-grid label.balance-text
{
	min-width: 54px !important;
	font-weight: normal !important;
}
@media(max-width:767px) {
	.financial .Overtime label, .financial .Overtime .input-group {
		margin-top: 0;
	}
}
/** style for aligning text to right side **/
.right-justify
{
	text-align: right !important;
}

/* set width for all type head drop down */
ul[id^="typeahead"] {
    width: inherit !important;
}
.imageUploader
{
	height: 100%;
	position: absolute;
	width: 68%;
	top: 0px;
	opacity:0;
}
