/* Employe ng grid table style starts */
.gridStyle
{
	height:250px;
}
.employee .gridStyle
{
	height: auto ;
}
.gridStyle .ngCanvas button.btn
{
	margin:0px 7px 0px 10px !important
}
.commentsButton
{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.gridStyle .ngViewport {
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer {
    width: auto !important;
}
.employee .gridStyle .ngCanvas img
{
	width: 40px;
	height: 40px;
	margin-left: 30%;
	margin-top: 10px;
	cursor: default !important;
}

/**Grid row selection background**/
.ngRow.selected
{
	background-color:#CED1D4 !important;
}

/**For hiding the vertical line in the grid**/
.ngVerticalBarVisible 
{
	width:0px;
}
.searchContainer
{
	text-align:right;
}
@media (max-width: 767px)
{
	.searchContainer
	{
		text-align:left;
		margin-top:5%;
		margin-bottom: 3%;
	}
}
@media (min-width: 768px)
{
	.timesheets .employeeList
	{
		margin-bottom: 10px;
	}
}
.label-grey
{
	border: none;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	background: #e9ebec;
	color: #7c848d;	
}
.labelCaption
{
	height: 25px;
	line-height: 25px;
}
